.sugestion-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    width: 100%;
    margin-top: 10px;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;

    .user-sugestion {
      width: 20%;
      height: auto;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__avatar {
        img {
          border-radius: 6px;
        }
      }
    }
  }
}

.img-profile2 {
  width: 50px;
  max-height: 50px;
  flex-shrink: 0;
  object-fit: cover;
}
