<mat-card class="card">
  <mat-card-header>
    <img
      mat-card-avatar
      src="{{ post.user.imageUrl || 'assets/profile.png' }}"
      routerLink="{{ post.user.name }}"
    />
    <div class="data">
      <mat-card-title routerLink="{{ post.user.name }}">{{
        post.user.name
      }}</mat-card-title>
      <mat-card-subtitle>{{
        post.date | date: "dd/MM/yyyy HH:mm:ss"
      }}</mat-card-subtitle>
    </div>

    <div *ngIf="post.canEdit" style="cursor: pointer;">
      <mat-icon (click)="handleDeletePost()">close</mat-icon>
    </div>

    <div *ngIf="post.canEdit" style="cursor: pointer;">
      <mat-icon (click)="handleEditPost()">edit</mat-icon>
    </div>
  </mat-card-header>

  <mat-card-content class="post-text">
    <div class="item" *ngIf="post.title">
      <div class="text">Título:</div>
      <div
        class="text"
        id="div-post-title"
        contentEditable="{{ post.canEdit }}"
      >
        {{ post.title }}
      </div>
    </div>

    <div class="item" *ngIf="post.url">
      <div class="text">Url:</div>
      <div class="text" id="div-post-url" contentEditable="{{ post.canEdit }}">
        {{ post.url }}
      </div>
    </div>

    <div class="item" *ngIf="post.datep">
      <div class="text">Data Publicação:</div>
      <div
        class="text"
        id="div-post-datep"
        contentEditable="{{ post.canEdit }}"
      >
        {{ post.datep }}
      </div>
    </div>

    <div class="item" *ngIf="post.locale">
      <div class="text">Local:</div>
      <div
        class="text"
        id="div-post-locale"
        contentEditable="{{ post.canEdit }}"
      >
        {{ post.locale }}
      </div>
    </div>

    <div class="item" *ngIf="post.wordsKey">
      <div class="text">Palavras Chaves:</div>
      <div
        class="text"
        id="div-post-wordsKey"
        contentEditable="{{ post.canEdit }}"
      >
        {{ post.wordsKey }}
      </div>
    </div>

    <hr />
    <br />

    <div class="item-desc" *ngIf="post.text">
      <div><b>Decrição</b></div>
      <br />
      <div class="text" id="div-post-text" contentEditable="{{ post.canEdit }}">
        {{ post.text }}
      </div>
    </div>
  </mat-card-content>

  <div
    *ngIf="post.pdf"
    style="cursor: pointer; text-decoration: underline;"
    (click)="download()"
  >
    <br />
    baixe agora o artigo
    <br />
  </div>
  <br />
  <hr />
  <mat-card-content class="post-info">
    <div>{{ post.likesLength }} curtidas</div>
    <div *ngIf="post.commentLength > 0">
      {{ post.commentLength }} comentários
    </div>
  </mat-card-content>
  <hr />
  <mat-card-actions>
    <button mat-button (click)="handleLike()" [ngClass]="{ liked: post.liked }">
      <mat-icon>thumb_up</mat-icon> &nbsp; Curtir
    </button>
    <button mat-button (click)="handleShowComments()">
      <mat-icon>comments</mat-icon> &nbsp; Comentar
    </button>
  </mat-card-actions>

  <mat-card-content *ngIf="post.showComments">
    <app-text-area
      #postComment
      [placeholder]="'Escreva um comentário'"
      (onEnterPress)="handleSubmitComment()"
    >
    </app-text-area>
    <app-loading [loading]="loadingComments"></app-loading>
    <div class="post-comments" *ngFor="let comment of post.comments">
      <img
        class="img-profile"
        src="{{ comment.user.imageUrl || 'assets/profile.png' }}"
      />

      &nbsp;
      <span class="comment-text">
        <span
          style="text-decoration: underline; color: #2078f4; cursor: pointer;"
          routerLink="{{ comment.user.name }}"
          >{{ comment.user.name }}</span
        >
        {{ comment.text }}
      </span>
    </div>
  </mat-card-content>
</mat-card>
