<div class="modal-container">
  <app-generic-card [title]="title">
    <section class="type">
      <mat-radio-group [(ngModel)]="type">
        <mat-radio-button value="ALUNO">Aluno</mat-radio-button>
        <mat-radio-button value="PESQUISADOR" style="margin-left: 1rem;"
          >Pesquisador</mat-radio-button
        >
      </mat-radio-group>
    </section>

    <app-form #appForm [formConfig]="getFormConfig()">
      <div class="form-action">
        <button
          #registerButton
          mat-button
          (click)="handleRegister()"
          *ngIf="type"
        >
          Registrar
        </button>

        <button mat-button routerLink="/login">
          Voltar
        </button>
      </div>
    </app-form>
  </app-generic-card>
</div>
