<app-loading [loading]="loading"></app-loading>

<form [formGroup]="_formGroup">
  <mat-form-field *ngFor="let field of _config">
    <mat-label>{{ field.label }}</mat-label>

    <mat-select
      (click)="field.click()"
      *ngIf="field.type === 'combobox'"
      formControlName="{{ field.name }}"
    >
      <mat-option *ngFor="let value of field.values" [value]="value.value">
        {{ value.label }}
      </mat-option>
    </mat-select>

    <mat-select
      (click)="field.click()"
      *ngIf="field.type === 'multicombobox'"
      formControlName="{{ field.name }}"
      multiple
    >
      <mat-option *ngFor="let value of field.values" [value]="value.value">
        {{ value.label }}
      </mat-option>
    </mat-select>

    <textarea
      *ngIf="field.type === 'textarea'"
      matInput
      formControlName="{{ field.name }}"
      style="min-height: 250px;"
      (click)="field.click()"
    >
    </textarea>

    <input
      *ngIf="field.type === 'date'"
      matInput
      [matDatepicker]="picker"
      placeholder="Selecione uma data"
      formControlName="{{ field.name }}"
      (click)="field.click()"
    />
    <mat-datepicker-toggle
      *ngIf="field.type === 'date'"
      matSuffix
      [for]="picker"
      (click)="field.click()"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <input
      *ngIf="
        field.type === 'text' ||
        field.type === 'password' ||
        field.type === 'email'
      "
      matInput
      type="{{ field.type }}"
      formControlName="{{ field.name }}"
      (click)="field.click()"
    />

    <mat-error *ngFor="let validator of field.validators">
      <span *ngIf="formError(field.name, validator)">{{
        getErrorMessage(validator)
      }}</span></mat-error
    >
  </mat-form-field>

  <ng-content></ng-content>
</form>
